{% extends 'base.html' %}
{% block content %}


<h1>Hello {{name}}</h1>

<!-- 
form action = "<function name from views>"
input type=submit, requests the function from views with
the name provided from action in the form field
-->
<form action = "add" method = 'post'>

<!-- 
For post requests, you must have a csrf_token 
sent for security verification (the one Django provides)
-->  
{% csrf_token %}

  enter 1st number: <input type="text" name="num_1" ><br>
  enter 1st number: <input type="text" name="num_2" ><br>
  <input type="submit">
 
</form>

{% endblock %}